@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f6efdf;
  font-family: 'Montserrat', sans-serif;
  @apply bg-gradient-to-r from-gray-900 to-slate-600;
  color: #f5f5dc;
}

.modal-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
 } 

.card {
  @apply  p-6 relative;
  height: 360px;
  /* flex-basis: 40%; */
  width: 40%;
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
  @apply flex-grow flex-shrink-0 max-w-full;
}
